body {
	background-color: black;
	width: 100%;
	height: 100%;
}

a {
	color: white;
	text-decoration: none;

}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #000000; 
}
 
::-webkit-scrollbar-thumb {
  background: #ffffff; 
}

::-webkit-scrollbar-thumb:hover {
  background: #888; 
}
/* scroll bar source: https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */


@media (max-width: 600px) {
    

img{
	width: 250px;
	display: block;
	margin-bottom: 20px;
	image-orientation: from-image;
}


div.displays {
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	margin: 10px;
	align-items: center;
	justify-content: center;

}


div.science {
	width: 250px;
	height:300px;
	margin: 20px;
	overflow: scroll;
	overflow-x: hidden;

}

div.photo {
	width: 250px;
	height: 300px;
	margin: 20px;
	overflow: scroll;
	overflow-x: hidden;
}


div.quote 
{
	color: white;
	font-family: baskerville, serif;
	line-height: 35px;
/*	font-style: italic;*/
	text-transform: lowercase;
	font-size: 25px;
	font-weight: lighter;
	z-index: 950;

}

}


.header {
	position: absolute;
	top: 30px;
	left: 40px;
	color: white;
	font-family: akzidenz-grotesk std, sans-serif;
	font-size: 30px;
	filter: blur(3px);
}
.header:hover {
	filter: none;
	
}


@media (min-width: 600px) {

img{
	width: 500px;
	display: block;
	margin-bottom: 50px;
	image-orientation: from-image;
}
}


.displays {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	margin: 10px;
	align-items: center;
	justify-content: center;

}


.science {
	width: 500px;
	height: 800px;
	overflow: scroll;
	margin:10px;
	overflow-x: hidden;

}

.photo {
	width: 500px;
	height: 800px;
	overflow: scroll;
	overflow-x: hidden;
	margin:10px;
}




@keyframes quote1 {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}


@keyframes quote2 {
	0% {
		opacity: 0;
	}

	50% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}
.quotes {
	height: 800px;
}


.quote 
{
	color: white;
	font-family: baskerville, serif;
	line-height: 45px;
/*	font-style: italic;*/
	text-transform: lowercase;
	font-size: 30px;
	font-weight: lighter;
	z-index: 950;

}
#quote1 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	opacity: 0;

	animation-name: quote1;
    animation-duration: 8s;
    animation-delay:1s;
    animation-iteration-count: 1;

}
#quote2 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	opacity: 0;

	animation-name: quote2;
    animation-duration: 8s;
    animation-delay:9s;
    animation-iteration-count: 1;
}


#quote3 {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	opacity: 0;

	animation-name: quote2;
    animation-duration: 3s;
    animation-delay: 17s;
    animation-iteration-count: 1;
}








